.boton-ir_forma {
    background-color: white;
    border-radius: 0;
    border-color: $smoky-black;
    border-width: 0.01rem;
    padding: 0.75rem 2rem;
}

.boton-ir_texto {
    color: $smoky-black;
    font-size: $x-large;
    font-family: $raleway;
    font-weight: $font-black;
}