.imagen-principal {
    float: right;
    height: auto;
    width: 100%;
}

.main-text {
    padding: 5rem;
}

.main-text_titulo {
    font-size: $xxx-large;
    font-family: $old-standar;
    font-weight: $font-black;
}

.main-text_bajada {
    color: $quick-silver;
    font-family: $raleway;
    font-size: $x-large;
}

.main-newsletter {
    //padding: 2rem 5rem 5rem 5rem;
//    display: flex;
 //   justify-content: center;
    background-color: $smoky-black;
}

.main-newsletter_espacio {
    padding: 2rem 5rem 5rem 6rem;
}

.main-newsletter_titulo {
    color: $white;
    font-size: $xx-large;
    font-family: $old-standar;
}

.main-newsletter_subtitulo {
    color: $light-gray;
    font-size: $x-large;
    font-family: $old-standar;
    padding-top: 1rem;
}

.main-suscribir {
    background-color: white;
    //width: 4rem;
}

.main-suscribir_texto {
    font-family: $old-standar;
    font-weight: $font-black;
    font-size: $xx-large;
    transform: rotate(90deg);
}