.imagen-principal {
    float: right;
    height: 100%;
    width: 100%;
}

.main-text {
    padding: 5rem;
}

.main-text_titulo {
    font-size: $xxx-large;
    font-family: $old-standar;
    font-weight: $font-black;
}

.main-text_bajada {
    color: $quick-silver;
    font-family: $raleway;
    font-size: $x-large;
}

.main-newsletter {
    padding: 2rem 5rem 5rem 5rem;
    background-color: $smoky-black;
}

.main-newsletter_titulo {
    color: $white;
    font-size: $xx-large;
    font-family: $old-standar;
}

.main-newsletter_subtitulo {
    color: $light-gray;
    font-size: $x-large;
    font-family: $old-standar;
    padding-top: 1rem;
}

.main-suscribir {
    position: relative;
    background-color: red;
    width: 4rem;
    float: right;
}

.main-suscribir_texto {
    transform: rotate(90deg);
}