.imagen-principal {
    float: right;
    height: 100%;
    width: 100%;
}

.main-text {
    padding: 5rem;
}

.main-text_titulo {
    font-size: $xxx-large;
    font-family: $old-standar;
    font-weight: $font-black;
}

.main-text_bajada {
    color: $quick-silver;
    font-family: $raleway;
    font-size: $x-large;
}

